%h2 Login	

=form_for @user_session do |f|
	=format_error_messages(@user_session, "We could not log you in")
	%p
		= f.label 'username'
		%br
		= f.text_field :username, :class=>:title, :id=>:username
	%p
		= f.label 'password', 'Password'
		%br
		= f.password_field :password, :class=>:title
	%p.submit
		= f.submit 'Sign In', :disable_with => 'Signing you in...', :class=>'awesome button'


- content_for(:footer) do
	:javascript
		$(document).ready(function($) {
			$('#username').focus();
		})